/* Custom styles for keyboard layout viewer
http://kbdlayout.info/viewer

for AltGr button:
background-color: rgb(255,150,130)
*/

.kl0 > div { display:none !important; }
.kl2 > div { display:none !important; }
.kl6 > div { vertical-align: top;  text-align: left; padding-left:5px; padding-top:3px }
.kl8 > div { color:orangered !important; vertical-align: bottom; padding-right:5px; padding-bottom:3px }

