<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.belarusian(latin)</string>
	<key>CFBundleName</key>
	<string>Belarusian (Latin)</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Belarusian (Latin)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belarusian(latin).belarusian(latin)</string>
		<key>TISIntendedLanguage</key>
		<string>be-Latn-BY-tarask</string>
	</dict>
</dict>
</plist>
