<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.belcombo</string>
	<key>CFBundleName</key>
	<string>BelCombo</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>KLInfo_Belarusian (Latin)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belcombo.belarusian(latin)</string>
		<key>TISIntendedLanguage</key>
		<string>be-Latn-BY-tarask</string>
	</dict>
	<key>KLInfo_Belarusian (Latin) + PL</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belcombo.belarusian(latin)+pl</string>
		<key>TISIntendedLanguage</key>
		<string>be-Latn-BY-tarask</string>
	</dict>
	<key>KLInfo_Belarusian + RU</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belcombo.belarusian+ru</string>
		<key>TISIntendedLanguage</key>
		<string>be-BY</string>
	</dict>
	<key>KLInfo_Russian + BY</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belcombo.russian+by</string>
		<key>TISIntendedLanguage</key>
		<string>ru-BY</string>
	</dict>
</dict>
</plist>
